{erl_opts, [debug_info,
            {i, ["include"]}]}.

{require_otp_vsn, "R?1[4567]"}.

{deps, [
        {escalus, "2\.6.\.*", {git, "git://github.com/esl/escalus.git", "29fcd0baed990d5e6b1fa2c3fd166f82d19dfe67"}},
        {exml, "2\.1\..*", {git, "git://github.com/esl/exml.git", {tag, "2.1.5"}}}
]}.

